/* Estilo de los botones*/
.btn-style-1 {
    font-size: 1.2rem;
    color: white;
    padding: 0.2rem, 1rem;
    transition: ease 0.5s;


}
.btn-style-1:hover {
    color: white;
    background-color: #774ddb;
    padding: 0.2rem, 1rem;
    transition: ease 0.5s;

    
}
/* Estilo de centrado y ubicación de los botones*/
.estilo-1 {
    flex-direction: column;
    justify-content: space-around;
    display: flex;
}

/* Linea de bordado inferior bajo el titulo*/
.estilo-titulo {
    border-bottom: 5px solid #774ddb;
    font-size: 1rem;
    background-color: #19191f;
}

/* Estilo del titulo Dinamo*/
.estilo-dinamo {
    font-size: 6rem;
    font-family: 'Roboto';
}

.estilo-dinamo-2 {
    font-size: 4rem;
    font-family: 'Roboto';
    color: white;
}
.bg-landing{
    background-color: #19191f;
}

.centrar{
    width: 100vw;
    height: 50vh;
    margin: 0;
    padding: 0;
    display:flex;
    justify-content:center;
    align-items:center;
}

#resultados table {
    width: 100%; /* Ajusta el ancho de la tabla al 100% del contenedor */
    border-collapse: collapse; /* Colapsa los bordes de la tabla */
}

#resultados th, #resultados td {
    padding: 20px; /* Agrega un espacio de relleno de 10px a las celdas */
}

#resultados th {
    border-bottom: 1px solid #ddd; /* Agrega un borde inferior a las celdas de encabezado */
}
